.root {
	-fx-background-color: #D6CFC7;
}
.label{
	-fx-text-fill: white;
	-fx-font-family: "Serif";
	-fx-font-size: 20;
	-fx-alignment: center;
}
.button{
	-fx-background-color: black;
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-pref-height: 50;
	-fx-pref-width: 100;
	-fx-text-fill: white;
	-fx-font-family: "Serif";
	-fx-font-size: 20;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

date-picker {
	-fx-focus-color: white;
}

.date-picker .arrow-button {
	-fx-background-color: black;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: white;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: #D6CFC7;
}
.date-picker .cell {
	-fx-background-color: #D6CFC7;
}
.date-picker .cell:hover {
	-fx-background-color: black;
	-fx-text-fill:white;
}
.date-picker .cell:focused {
	-fx-background-color: black;
}
.date-picker .selected {
	-fx-background-color: black;
	-fx-text-fill: #D6CFC7;
}
.date-picker .selected:focused {
	-fx-background-color: black;
	-fx-text-fill: #D6CFC7;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: black;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: white;
}
.date-picker-popup .spinner .button{
	-fx-effect: null;
	-fx-pref-height: 30;
    -fx-pref-width: 30;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: #D6CFC7;
}
.list-view{
    -fx-background-color: #D6CFC7;
    -fx-border-color: black;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: #D6CFC7;
	-fx-border-color: black;
}
.list-cell:odd { -fx-background-color: #D6CFC7;}
.list-cell:even {-fx-background-color: white;}
.list-cell:filled:hover{
	-fx-background-color: #D6CFC7;
}
.check-box {
    -fx-font-family: "Serif";
	-fx-text-fill: black;
	-fx-font-size: 14;
}
.check-box .box {
	-fx-background-color:#D6CFC7;
	-fx-border-color: white;
}
.check-box:selected .box{
    -fx-background-color: white;
    -fx-border-color: #D6CFC7;
}

.jfx-check-box:selected .mark{
    -fx-border-color: black;
}

.check-box:selected{
    -fx-text-fill: grey;
}
.check-box:selected .text{
    -fx-strikethrough: true;
}
.jfx-slider>.track {
    -fx-pref-height: 5;
}

/* Styling the slider thumb */
.jfx-slider>.thumb {
    -fx-background-color: black;
}

/* Styling the filled track */
.jfx-slider>.colored-track {
    -fx-background-color: black;
    }

/* Styling the animated thumb */
.jfx-slider>.animated-thumb {
    -fx-background-color:transparent;
}
.jfx-dialog-layout {
    -fx-background-color: #D6CFC7;
    -fx-font-family: "Serif";
    -fx-font-size: 20;
}
.dialog-pane {
     -fx-background-color: white;
 }
.dialog-pane:header *.header-panel{
    -fx-background-color: #D6CFC7;
}
.chart-bar {
    -fx-bar-fill: black;
}
.axis{
      -fx-tick-label-font-family: "Serif";
      -fx-tick-label-fill: white;
}
.chart-plot-background{
    -fx-background-color: transparent;
}
